<h2>info del servidor</h2>

<ul>
  <li><strong>Versión de Node</strong>:{{informacion.version_node}}</li>
  <li><strong>Uso de memoria</strong>:{{informacion.memoria}}</li>
  <li><strong>Path de Ejecución</strong>:{{informacion.path_de_ejecucion}}</li>
  <li><strong>Id del proceso</strong>:{{informacion.id_del_proceso}}</li>
  <li><strong>Proyecto</strong>:{{informacion.carpeta_del_proyecto}}</li>
  <li><strong>CPU</strong>:{{informacion.CPUS}}</li>
  <li><strong>Plataforma</strong>:{{informacion.plataforma}}</li>
</ul>