{{#if hayProductos}}

<div class="productById_view">
  <img src='/imagenes/{{productos.foto}}.jpg' alt="{{productos.foto}}" />
  <form action="/api/carrito/{{productos.id}}" method="post">
    <h4>{{productos.nombre}}</h4>
    <p>{{productos.descripcion}}</p>
    <strong>Precio: ${{productos.precio}} </strong>
    <label for="cantidad">Seleccionar Cantidad</label>
    <input type="number" name="cantidad" value="1" min="0" max="{{productos.stock}}">
    <input type="submit" value="Agregar al Carrito" />
  </form>
  <a href="/api/productos/">Seguir viendo</a>
</div>
{{else}}
<strong>No hay productos para ese filtro</strong>
{{/if}}
</form>