{{#if hayProductos}}
  <ul class="ulProducts">
    {{#each productos}}
        <li class="li_styles_products"><img src='/imagenes/{{this.foto}}.jpg' alt="{{this.foto}}" />
        <h4>{{this.nombre}}</h4>
        <strong>{{this.precio}} </strong>
        <form action="/api/productos/{{this.id}}" method="get">
          <input type="submit" value="ver mas" />
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <strong>No hay productos</strong>
{{/if}}